/*body {
    font-family: "Computer Modern";
}*/

.dark {
    background-color: #292B35;
    color: #FFFFFF;
}

.dark-white-text {
    color: #EBEBEB;
}

.dark-blue-text {
    color: #A6E2E9;
}

.dark-green-text {
    color: #90F8A2;
}


header {
    margin: 1em 0;
}

/*h2 a{
    font-family: "Computer Modern";
}*/

@font-face {
  font-family: "San Francisco";
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

h3 {
    font-weight: normal;
}

header h1    {
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
    font-size: 4em;
    padding-bottom: 0.2em;
    color: #444451;
}

.nav-active {
    color: #3372D5;
}

.col-md-12 {
    padding-left: 30px;
}


#switch {
    position: absolute;
    top: 32px;
    right: 32px;
}

.removeLinkDefault {
    color: black;
    text-decoration: none;
}


#brain-img {
    width: 500px;
}

#quiz-img {
    width: 510px;
    height: 255px;
}

#osrs-img {
    width:510px;
    height: 255px;
}


ul {
    transform: translateX(10%);
    max-width: 300%;
    padding-left: 3em;
    padding-right: 2em;
    display: inline-block;
}

a b {
    color: #4689EF;
}

p {
}

h2, h3{
    padding-left: 1.5em;
    color: #444451;
}

li {
    list-style-type: none;
    font-size: 2.2rem;
    line-height: 1.5; /* 4px +12px + 4px */
    color: #444450;
}

.mobile {
    display: none;
}

section nav {
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    margin: 0 auto;
    transform: translate(-2em,-3em);
}

section nav p {
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#currentlink {
    color: darkgray;
}

a:link {
    color: #277EF6;
}

a:visited {
    color: black;
}

a:hover {
    color: #277EF6;
    border-bottom: 1px solid #277EF6;
    text-decoration: none;
}

a:active {
    color: #277EF6;
    border-bottom: 1px solid #277EF6;
}

section nav a:link {
    color: black;
    border-bottom: none;
}      

section nav a:visited {
    color: black;
    border-bottom: none;
    text-decoration: none;
}

section nav a:hover {
    color: darkgray;
    border-bottom: none;
    text-decoration: none;
}

section nav a:active {
    color: darkgray;
    border-bottom: none;
    text-decoration: none;
}

a, u {
    text-decoration: none !important;
}

.dropdown-menu {
    width: 100%;
}

.btn {
    outline: none;
    border: none;
}

.btn:hover {
    width: 100%;
    background-color: white;
}

.container {
    padding-top: 2em;
    width: 76%;
}

@media (max-width: 767px) {
    .desktop {display: none;}
    .mobile {
        display: flex;
    }
    .container {
        padding-top: 2em;
        width: 100%;
    }
}

#caption {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 2em;
}    

#intro-text {
    font-size: 1em;
}

.card {
 box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

.card:hover {
/*    border-color: #5BC89A;
*/   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/*footer {
    display: flex;
    justify-content: flex-end;
}*/

.fa {
    color: black;
}

#teaching_date {
    padding-left: 1em;
    transform: translateX(8rem);
    font-weight: bold;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

#teaching_desc {
    padding-left: 3em;
    padding-bottom: 1.2em;
}

#proj_title {
    margin-left: 2em;
}

#proj_desc {
        margin-top: 0.25em;
    padding-bottom: 0.5em;
}

#notes {
    margin-left: 1.5em;
    margin-top: 0.25em;
    padding-bottom: 0.5em;
    list-style: circle;
    clear: left;
}

#footnote {
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 1em;
}

#comment {
    font-size: 1.2em;
    font-style: italic;
}

#emoji {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#emoji:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  top: 3px;
  right: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.em-full_moon {
    transform: translate(-0.5em, -1em);
}

.em-sunny {
    transform: translate(0.5em, -1em);

}


/* projects */

.portfolio-item {
  margin-bottom: 40px;
}

.row {
  padding-left: 40px;
  padding-right: 40px;
}

.pagination {
  margin-bottom: 30px;
}

.container-fluid {
    max-width: 90%;
}

h3 {
    font-weight: normal;
}

.teaching-preface {
    padding-left: 5rem;
    padding-bottom: 2rem;

}

.teaching-container {
    padding-top: 0.5rem;
    max-width: 100%;
}

.music-container {
    padding-top: 0.1rem;
}

.video-description {
    padding-left: 0.5rem;
}

::selection {
    background: #ffdc00;
}