body {
	padding-bottom: 50px;
}

.portfolio-item {
  margin-bottom: 30px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

.pagination {
  margin-bottom: 30px;
}

.container-fluid {
	max-width: 85%;
}

h3 {
	font-weight: normal;
}