a,a:active,a:focus,a:hover,a:visited,body{
    color:#2c2d33
}
.block-left .content,.block-right .content,body,canvas,html{
    height:100%
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline
}
ol,ul{
    list-style:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
caption,td,th{
    text-align:left;
    font-weight:400;
    vertical-align:middle
}
blockquote,q{
    quotes:none
}
blockquote:after,blockquote:before,q:after,q:before{
    content:"";
    content:none
}
a img{
    border:none
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
}

body {
font-family: "Computer Modern", sans-serif;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    @font-face{
        font-family:icons;
        src:url(../fonts/icons.svg#icons) format("svg")
    }
}
[class*=" icon-"]:before,[class^=icon-]:before{
    font-family:icons;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em
}
.icon-behance:before{
    content:'\e800'
}
.icon-github:before{
    content:'\e801'
}
.icon-stackoverflow:before{
    content:'\e802'
}
.icon-twitter:before{
    content:'\e803'
}
#connectIcons li {
    display: inline;
    padding: 10px;
}
.about-info ul li a:after,.cf:after,.cf:before,.logo:after,.main-info ul li a:after,.projects-menu>li a:after,.projects-menu>li a:before{
    content:"";
}
*,:after,:before{
    box-sizing:border-box
}
body{
    font-family:"Computer Modern";
    background:#fff
}
a{
    outline:0;
    text-decoration:none
}
.cf:after,.cf:before{
    display:table
}
.posts-menu-icon:after,.posts-menu-icon:before,.projects-menu-icon span:before,.projects-menu-icon:before{
    content:''
}
.cf:after{
    clear:both
}
canvas{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0
}
body,html{
    line-height:1.2
}
html,html.no-scroll{
    overflow:hidden
}
.block-left,.block-right{
    width:50%;
    height:100%;
    position:relative;
    display:table
}
.block-left>div,.block-right>div{
    display:table-cell;
    vertical-align:middle
}
.content{
    padding:50px;
    max-width:800px;
    margin:0 auto;
    position: relative;
    left: 5%;
    transform: translateX(-5%);
}
.content img {
    display:inline-block;
    width: 180px;
    height: 180px;
    top:5%;
    left:20%;
    margin:0 auto;
    position:relative;

}



#content2 {
    transform: translateX(-20%);
}

#content1 p, #content2 p {
    color: #6C6C6C;
}

.block-left{
    float:left;
    background:linear-gradient(rgba(94,135,222,.9),rgba(55,60,100,.9)),url(../img/shinkai.jpg) no-repeat;
    background-size:cover,cover
}
.block-right{
    float:right
}
.green{
    color:#4dbe7a
}
.green:hover{
    color:#399f62
}
.purple{
    color: #4E69AB;
}
.lightblue{
    color: #6BB9CA;
}
.darkblue{
    color: #366089;
}
.red{
    color: #EE7C73;
}
.gold{
    color: #CCAD5A;
}
.inactive{
    pointer-events:none;
    pointer:default
}

.overlay,.projects-menu>li a{
    top:0;
    right:0;
    bottom:0;
    left:0
}
.overlay{
    position:fixed;
    background:#2c2d33;
    z-index:2;
    display:none;
    overflow-y:auto
}
.overlay.show{
    display:block
}

.block-left .content{
    z-index:1;
    position:relative
}
.about-info {
    height: 100%;
}

.about-info,.main-info{
    text-align:center;
    max-width:400px;
    width:100%;
    margin:0 auto;
    font-weight: 360;
    font-family: "Computer Modern";
}
.about-info h1,.about-info h2,.main-info h1,.main-info h2{
    font-size:30px;
    position:relative;
}
#greetingName {
    font-size: 50px;
    font-family: "sans-serif";
    font-weight: 340;
    padding-top: 20px;
    display: block; /* may help stop any text wrapping and display it inline. */
    display: inline; /* same as above */
    white-space: nowrap;/* ensure no wrapping */
    overflow: hidden; /* if for some reason it escapes the visible area don't display anything. */
}

#greetingName img {
    transform: translate(10%, -110%);
}
.about-info h1:after,.about-info h2:after,.main-info h1:after,.main-info h2:after{
    content:"";
    width:100px;
    height:2px;
    background:#585b63;
    bottom:-20px;
    position:absolute;
    left:50%;
    -webkit-transform:translatex(-50%);
    -moz-transform:translatex(-50%);
    -ms-transform:translatex(-50%);
    -o-transform:translatex(-50%);
    transform:translatex(-50%)
}
.about-info p,.main-info p{
    font-size:21px;
    line-height:30px;
    margin:10px 0;
    padding-top:20px;
}
.about-info ul,.main-info ul{
    font-size:0;
    margin-top:30px;
    overflow:hidden
}
/*.about-info ul li,.main-info ul li{
    display:inline-block;
    width:40px;
    height:40px;
    background:#585b63;
    margin-right:10px
}*/
/*.about-info ul li:nth-child(odd),.main-info ul li:nth-child(odd){
    background:#2c2d33
}*/
/*.about-info ul li:last-child,.main-info ul li:last-child{
    margin-right:0
}*/
/*.about-info ul li a,.main-info ul li a{
    font:0/0 verdana;
    color:transparent;
    text-shadow:none;
    position:relative;
    display:block;
    height:40px
}*/
/*.about-info ul li a:before,.main-info ul li a:before{
    font-size:20px;
    line-height:15px;
    position:absolute;
    top:13px;
    left:6px;
    color:#fff
}*/
/*.about-info ul li a:after,.main-info ul li a:after{
    height:0;
    display:block;
    background:#88B2DF;
    -webkit-transition:height .3s;
    -moz-transition:height .3s;
    -ms-transition:height .3s;
    -o-transition:height .3s;
    transition:height .3s
}
.about-info ul li a:hover:after,.main-info ul li a:hover:after{
    height:100%
}*/
.main-info{
    color:#fff
}
.main-info h2{
    font-size:21px;
    line-height:30px;
    margin:10px 0;
    padding-top:25px
}
.main-info h2:after{
    display:none
}

.main-info img {
    position: absolute;
    transform: translate(75%, 50%);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}
.about-info{
    text-align:left
}
.about-info h1,.about-info h2{
    font-size:30px;
    color:#474747
}
.about-info h1:after,.about-info h2:after{
    position:absolute;
    top:auto;
    -webkit-transform:none;
    -moz-transform:none;
    -ms-transform:none;
    -o-transform:none;
    transform:none;
    background:#85B0DE;
    left:0;
    width:200px;
}
.about-info p{
    color:#999;
    font-size:16px;
    margin:10px 0;
    padding-top:0;
    line-height:24px
}
.about-info p:first-of-type{
    padding-top:40px
}
.block-right{
    overflow-y:auto
}

.section-title{
    font-size:100px;
    position:absolute;
    bottom:50px;
    left:50px;
    color:rgba(255,255,255,.6)
}
.section-title em{
    font-size:80px;
    font-style:normal;
    color:#72cc96
}
.section-title span{
    font-size:20px
}


@keyframes particleAnimation1
{
    from {
        top: -100px;
        left: -100px;
        opacity: 0.0;
        transform: rotate(20deg);
    }
    to {
        top: 120%;
        left: calc(100% + 100px);
        opacity: 0.0;
        transform: rotate(20deg);

    }
}
@keyframes particleAnimation2
{
    from {
        top: 100px;
        left: -100px;
        opacity: 0.0;
        transform: rotate(20deg);

    }
    to {
        top: 100%;
        left: calc(100% + 600px);
        opacity: 0.0;
        transform: rotate(20deg);

    }
}
@keyframes particleAnimation3
{
    0% {
        top: -100px;
        left: -100px;
        opacity: 0.4;
        transform: rotate(20deg);
        background-color: rgba(255, 0, 0, 0.8)
    }
    15% {
        top: 70%;
        left: calc(100% + 100px);
        opacity: 1.0;
        transform: rotate(20deg);
        background-color: rgba(0, 0, 255, 1.0);
    }
    100% {
        top: 70%;
        left: calc(100% + 100px);
        opacity: 1.0;
        transform: rotate(20deg);
        background-color: rgba(0, 0, 255, 1.0);
    }
}

body{
  background:black;
}

.p{
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.3) 100%); 
}
.p-1{
  animation-duration:15s;
  animation-name:particleAnimation1;
  top:0%;

}
.p-2{
  animation-duration:7s;
  animation-name:particleAnimation2;
  top:60%;
}
.p-3{
  animation-delay: 3s;
  animation-duration:30s;
  animation-name:particleAnimation3;
  top:90%;
}
.p-1::before{
    height: 1px;
}
.p-2::before{
    height: 2px;
}
.p-3::before{
    height: 2px;
}



@-webkit-keyframes universe{
    0%{
        -webkit-transform:translatey(0)
    }
    100%{
        -webkit-transform:translatey(-100%)
    }
}
@-moz-keyframes universe{
    0%{
        -moz-transform:translatey(0)
    }
    100%{
        -moz-transform:translatey(-100%)
    }
}
@-o-keyframes universe{
    0%{
        -o-transform:translatey(0)
    }
    100%{
        -o-transform:translatey(-100%)
    }
}
@keyframes universe{
    0%{
        transform:translatey(0)
    }
    100%{
        transform:translatey(-100%)
    }
}
@media screen and (max-height:605px){
    .post-title-section .section-title{
        font-size:45px
    }
}
@media screen and (max-width:960px){
    .block-left,.block-right{
        float:none;
        width:100%
    }
    html{
        overflow:auto
    }
    .block-right{
        overflow-y:inherit
    }
    .projects-menu li{
        width:50%!important;
        height:50%!important;
        float:left
    }
}
@media screen and (max-width:640px){
    .section-title{
        font-size:80px
    }
    .inner-post h2,.posts-list>li h2{
        font-size:20px
    }
    .posts-list>li .post-title{
        max-width:100%
    }
    .posts-list>li .date{
        float:left;
        display:block;
        width:100%;
        padding-bottom:10px
    }
    .projects-menu li{
        width:100%!important;
        height:50%!important
    }
    .content{
        padding:20px
    }
    .inner-post h2{
        margin-bottom:20px
    }
    .inner-post li,.inner-post p{
        font-size:16px;
        line-height:24px
    }
    .inner-post ul>li{
        margin-bottom:10px
    }
    .date-highlight{
        margin:80px 0 40px
    }
    .posts-list{
        margin-top:80px
    }
    .post-title-section .section-line{
        display:none
    }
    .post-title-section .section-title{
        font-size:40px
    }
}